{% extends 'layouts.html' %}

{% block title %}
Giftnet
{% endblock %}
{% load static %}

{% block content %}

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="{% static 'img/hero-bg.jpg' %}"
                     class="img-fluid"
                     alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="" method="post">
                    {% csrf_token %}

                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" name="name" id="name" class="form-control"
                               placeholder="Имя пользователя"/>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" name="email" id="email" class="form-control"
                               placeholder="Адрес электронной почты"/>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" name="password" id="password" class="form-control"
                               placeholder="Пароль"/>
                    </div>

                    <!-- Confirm password input -->
                    <div class="form-outline mb-3">
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control"
                               placeholder="Подтвердите пароль"/>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Создать аккаунт
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Уже зарегистрированы? <a
                                href="{% url 'authentication' %}"
                                class="link">Войти</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}