{% extends 'layouts.html' %}
{% load static %}

{% block title %}
Giftnet
{% endblock %}



{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>Giftnet</h1>
        <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
</section><!-- End Hero -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
                <div class="content">
                    <h3>Расскажи о своих мечтах</h3>
                    <p>
                        Сохраняй все свои пожелания на нашем сайте, чтобы близкие знали, что тебе подарить.
                        Узнай, что хочется твоим друзьям и удиви их чудесным подарком!
                    </p>
                </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-happy-alt"></i>
                            <h4>Впечатления</h4>
                            <p>Если давно мечтаешь сходить в театр, полетать в аэротрубе или посетить кулинарный мастер-класс.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-gift"></i>
                            <h4>Вещи</h4>
                            <p> Увидел в магазине классную футболку, кружку или фонарик?
                                Прикрепи фото или просто скопируй ссылку из интернет-магазина на понравившийся тебе товар.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-cake"></i>
                            <h4>Блюда</h4>
                            <p>Давно хочешь, чтобы кто-нибудь испек торт специально для тебя?
                                А может мечтаешь попробовать коктейль из десятка ингридиентов?
                                Напиши об этом, приложив рецепт или фото.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-car"></i>
                            <h4>Поездки</h4>
                            <p>Давно мечтаешь выбраться с палаткой на озеро, сходить за грибами или
                            съездить в другой город? Опиши свое желание как можно подробнее и
                            возможно ты найдешь здесь единомышленников.</p>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End About Section -->

{% endblock %}