{% extends 'layouts.html' %}
{% load static %}

{% block title %}
Giftnet
{% endblock %}


{% block content %}

<body>
<main id="main">

    <!-- ======= Wish Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="img">
                                <img src="{{ wishdata.image.url }}" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3> {{ wishdata.title }} </h3>
                        <ul>
                            <li><strong>Дата добавления</strong>: {{ wishdata.data }} </li>
                            <li><strong>Ссылка</strong>: <a href='{{ wishdata.link }}'>ссылка</a></li>
                            <li><a href="{% url 'editwish' wishdata.id %}">Редактировать</a></li>
                            <li><a href="{% url 'deletewish' wishdata.id %}">Удалить</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <p>
                            {{ wishdata.description }}
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->
</main><!-- End #main -->


</body>

{% endblock %}
